.carousel-item:after {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.6);
  }
  .carousel-caption{
    z-index: 1;
    bottom:initial;
    top:50%;
    transform:translate x(-50%);
  }